.content table tr:nth-child(2n) {
  background-color: inherit;
}

.content table tr:nth-child(2n) {
  background-color: hsl(0,0%,95%);
}

.content code {
  background: hsl(217,78%,91%) !important;
}

.menu .level-2 { font-size: 1.2em; }
.menu .level-3 { font-size: 1.1em; }
iframe {
  border: 1px solid whitesmoke;
  box-shadow: 8px 8px 8px 4px lightgray;

}

body:not(.big-h3) .content h3 {
  font-size: 1.2em;
  color:hsl(0,0%,30%);
}

.content h1 {
  font-size: 2em;
}

.content h4 {
  color: hsl(240, 13%, 50%);
}