<div id="banner">
<a href="http://au.okfn.org"><img src="images/OKAustralia.png" id="oklogo" /></a>
<h1>Open Council Data Standards</h1>
<p class="tagline">Part of the Open Council Data Toolkit.</p>
<ul id="ocd-links">
<li><a href="http://opencouncildata.org">Learn</a></li>
<li><a href="http://opencouncildata.org">Get started</a></li>
<li><a href="http://opencouncildata.org">Toolkit</a></li>
<li><a href="http://opencouncildata.org">Stay connected</a></li>
<li><a href="http://opencouncildata.org">About</a></li>
</ul>
</div>